[submodule "examples/enc_mnist-rs"]
	path = examples/enc_mnist-rs
	url = https://github.com/Entropy1110/enc_mnist-rs.git
[submodule "examples/secure_update-rs"]
	path = examples/secure_update-rs
	url = https://github.com/Entropy1110/secure_update-rs.git
